@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.about-us-page {
  position: relative;
  width: 100%;
  height: 90vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  text-align: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.about-us-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffcc00;
  text-shadow: 2px 2px 0 #000;
}

.about-us-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0 #333;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #ffcc00;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px 0 #000;
}

.close-button:hover {
  color: #ff3333;
}
