.custom-modal .modal-dialog {
  max-width: 500px; /* Diminuisce la larghezza del modale */
  width: 90%; /* Si adatta alla viewport */
}
.custom-modal .modal-body {
  display: flex;
  justify-content: center; /* Centra il contenuto del modale */
  align-items: center; /* Centra il contenuto verticalmente */
}
  
.card-container {
  display: flex;
  justify-content: center; /* Centra il contenuto della card-container */
  gap: 10px;
  width: 100%; /* Occupa tutta la larghezza disponibile */
}
.card-container {
  display: flex;
  justify-content: center; /* Centra il contenuto della card-container */
  gap: 10px;
  width: 100%; /* Occupa tutta la larghezza disponibile */
}

.image-container {
  display: flex;
  justify-content: center; /* Centra l'immagine orizzontalmente */
  align-items: center; /* Centra l'immagine verticalmente */
  flex: 1; /* Occupa tutto lo spazio disponibile */
}

  .card-image {
    width: 100%;
    max-width: 300px; /* Limita la larghezza massima dell'immagine */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .details-container {
    flex: 2; /* Occupa più spazio per i dettagli */
    text-align: left; /* Allinea il testo a sinistra */
  }
  
  .form-group {
    width: 100%; /* Fa occupare all'input tutta la larghezza disponibile */
  }
  
  .select-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Diminuisce la dimensione del testo */
    padding: 8px;
    border-radius: 4px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .button-container {
    display: flex; /* Disposizione dei pulsanti in riga */
    justify-content: space-between; /* Aggiungi e Chiudi ai lati */
    margin-top: 10px;
  }
  
  .add-button {
    flex: 1; /* Pulsante Aggiungi sulla sinistra */
    margin-right: 10px;
  }
  
  .close-button {
    flex: 1; /* Pulsante Chiudi sulla destra */
  }
  