@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


.we-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 110px;;
}

.we-card-container {
  width: 200px;
  height: 200px;
  position: relative;
}

.we-card {
  width: 200px;
  height: 200px;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
  filter: none;
}

.we-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.we-card p {
  color: #555;
}

.we-card.active {
  opacity: 1;
  z-index: 2;
  transform: translateX(0);
}

.we-card.prev-1,
.we-card.next-1 {
  opacity: 0.5;
  filter: blur(4px);
  z-index: 1;
}

.we-card.prev-2,
.we-card.next-2 {
  opacity: 0.2;
  filter: blur(6px);
  z-index: 1;
}

.we-card.prev-3,
.we-card.next-3 {
  opacity: 0;
}

.we-card.prev-1 {
  transform: translateX(-230px) rotate(-10deg) translateY(20px);
}

.we-card.next-1 {
  transform: translateX(230px) rotate(10deg) translateY(20px);
}

.we-card.prev-2 {
  transform: translateX(-483px) rotate(-20deg) translateY(80px);
}

.we-card.next-2 {
  transform: translateX(483px) rotate(20deg) translateY(80px);
}

.we-card.prev-3 {
  transform: translateX(-697px) rotate(-30deg) translateY(172px);
}

.we-card.next-3 {
  transform: translateX(697px) rotate(30deg) translateY(172px);
}

