html, body {
  overflow: hidden;
  height: 100%;
}

.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Stile del contenuto */
.homepage-content {
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: #1e1e1ec7;
  padding: 20px;

  opacity: 0;
  transform: scale(0.9); /* Effetto di riduzione all'inizio */
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out; /* Durata maggiore per il fade-in */
  width: 86%;
}

.homepage-content.show {
  opacity: 1;
  transform: scale(1); /* Torna alla dimensione normale durante il fade-in */
}

.homepage-content h1 {
  font-size: 3rem;
  color: #ff6347;
}

.homepage-content p {
  font-size: 1.5rem;
  color: #fff;
}

/* Stile del pulsante di chiusura */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #f5f5f5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #fff; /* Cambia colore quando l'utente passa sopra il pulsante */
}
