html, body {
  overflow: hidden;
  height: 100%;
}

.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Video di sfondo */
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Contenitore del logo, centrato senza translate */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Posizione iniziale centrata */
  top: 20%; /* Posizione iniziale */
  left: 30%; /* Posizione iniziale */
  z-index: 1;
  width: 100%;
  max-width: 500px;
  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* Effetto fade-in */
}

/* Mostra il contenitore con il fade-in iniziale */
.logo-container.show {
  opacity: 1;
}

/* Movimento del contenitore verso la navbar */
.logo-container.move-to-navbar {
  position: fixed;
  top: 80px; /* Posizione finale sotto la navbar */
  left: 50px; /* Posizione finale */
  max-width: 200px; /* Dimensione ridotta */
  transition: top 2s ease-in-out, left 2s ease-in-out, max-width 2s ease-in-out;
}

/* Stile per l'immagine del logo */
.logo-image {
  width: 100%; /* Adatta il logo alla larghezza del contenitore */
  height: auto;
}
/* Pulsante per attivare/disattivare la musica */
.toggle-audio-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
  z-index: 1;
}

.toggle-audio-button:hover {
  background-color: #555;
}
.audio-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px; /* Dimensione dell'icona */
  height: 32px;
  cursor: pointer;
  z-index: 1;
  image-rendering: pixelated; /* Mantiene l'effetto 8-bit */
}

.audio-icon:hover {
  opacity: 0.8;
}
