/* Navbar.css */

.custom-navbar {
    padding: 0.5rem 1rem;
  }
  
  .forgot-link {
    color: #f1f1f1;
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  
  .login-form {
    flex-direction: row;
    align-items: center;
  }
  
  .sidebar-toggle {
    display: flex;
    align-items: center;
  }
  
  /* Sidebar Styling */
  .custom-offcanvas .dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  
  .dark-mode-toggle input[type="checkbox"] {
    margin-left: 0.5rem;
  }
  
  /* Responsive Design */
  @media (max-width: 991px) {
    .login-form {
      display: none; /* Hide login form on tablets and smaller screens */
    }
    .sidebar-toggle {
      display: flex;
    }
  }
  
  @media (min-width: 992px) {
    .sidebar-toggle.d-lg-none {
      display: none; /* Hide toggle button on larger screens */
    }
  }
  