/* ==================== Stile del Modale ==================== */
.modal-content {
    background-color: #333; /* Sfondo scuro */
    color: #f1f1f1;
    border: 3px solid #1A1A1A;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
}

.modal-header, .modal-footer {
    border-bottom: none;
    border-top: none;
}

.modal-title {
    font-size: 1.2rem;
    color: #f1f1f1;
}

.modal-body {
    background-color: #444;
}

/* ==================== Input Fields con placeholder e testo Roboto ==================== */
.modal-body .form-control {
    background-color: #555;
    color: #fff;
    border: 2px solid #1A1A1A;
    font-family: 'Roboto', sans-serif;
}

.modal-body .form-control::placeholder {
    color: #bbb;
    font-family: 'Roboto', sans-serif;
}

.modal-body .form-control:focus {
    background-color: #666;
    border-color: #4A70D0;
}

/* Nasconde gli elementi per le versioni desktop */
.mobile-only {
    display: none;
}

@media (max-width: 991px) {
  .mobile-only {
    display: block;
  }
}
